*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #686de0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.container{
    width: 800px;
    background-color: #fff;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 8px 13px 0px rgb(0 0 0 / 10%), 0px 9px 13px 4px rgb(0 0 0 / 10%);
    padding: 50px 20px;
}
h3{
    color: rgb(97, 97, 97);
}
.joke{
    margin: 50px auto;
    font-size:30px;
    letter-spacing: 1px;
    line-height: 40px;
}
.btn{
    width: 200px;
    height: 50px;
    border: 0;
    background-color: #9f68e0;
    color:#fff;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 8px 18px 0px rgb(0 0 0 / 20%), 0px 5px 10px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.btn:focus{
    outline: none;
}